/*-------------------------Start of background---------------------*/
body {
	background: linear-gradient(210deg, #ee7752, #e73c7e, #23a6d5, #FFD700);
    /*^----decides the colour of the background and the angles of the "transistion between keyframes of the animation-------^*/
	background-size: 400% 1%;
    /*--^deciedes the size of the background^----*/
	animation: gradient 8s ease infinite;
    /*----^deciedes the speed of the background^---*/
}
/*----Start of key frames-----*/

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/*------end of keyframes------*/
/*-------------------------end of background---------------------*/
/*-------------------------Tiles---------------------*/
.minititle{
     font-family: "Times New Roman";
    text-align: center;
}
.bio{
    text-align: center;
    border: 9px solid black;
    border-image-width:30%; 
    padding-bottom: 40px;
}
.bio:hover{
    color: aliceblue;
}
/*-------footer for the website------*/
.footer {
     position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: ;
    color: orange;
    text-align: center;
    font-family:serifactive;
    padding-top: 10px;
 
}
/*------over effect for the website-----*/ 
.footer:hover{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: orange;
    color: black;
    text-align: center;
    font-family:serif;
}
/*---reduced button opacity------*/ 
.button:hover{
    opacity: 100%;
    color: black;
}
/*-----Fix button padding issue----*/
.button{
    padding-bottom: 20px;
    
}
/*------setting for button----*/
.img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;}
/*----navigation bar code(needs to be corrected)-----*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
/*-----For the start of my about me page----*/
/*-----For my home page image------*/
.Main_image{
    padding-left: 30px;
    padding-bottom: 50px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: auto ;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 9px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
    object-fit: fill;
}
.grid-item image{
    image-resolution: from-image;
}

/*--------For the end of my "About me page"-----*/
</style>
</head>
<body>



